@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-VariableFont_wght.ttf');
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.app__container {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(138, 126, 126);
}